[Unit]
Description=HungryFox is a Git Security Tool
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/hungryfox -config=/etc/hungryfox/config.yml
User=hungryfox
Group=hungryfox
StandardError=journal
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=30s
LimitMEMLOCK=infinity
LimitNOFILE=4096
Nice=19
IOSchedulingClass=3
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
